<ion-view title="Chat" id="chat" style="">
  <ion-content padding="true" class="has-header">
    <ion-list id="chat-list2">
      <ion-item class="item-avatar" id="chat-list-item5" style="">
        <img src="img/P7vBEfpMQPGFJwuSibXB_teacher-male-95007.png">
        <h2>Persona 1</h2>
        <p>linea</p>
      </ion-item>
      <div class="item item-body" id="chat-list-item-container1" style="">
        <div id="chat-markdown14">
          <p style="color:#000000;">Persona 1 dice...</p>
        </div>
        <div id="chat-markdown7" style="text-align:right;">
          <p style="color:#000000;">Persona 2 dice...</p>
        </div>
        <div id="chat-markdown9">
          <p style="color:#000000;">Persona 1 dice...</p>
        </div>
        <div id="chat-markdown12" style="text-align:right;">
          <p style="color:#000000;">Persona 2 dice...</p>
        </div>
        <div id="chat-markdown13">
          <p style="color:#000000;">Persona 1 dice...</p>
        </div>
      </div>
    </ion-list>



    <form id="chat-form2" class="list">
    
      <div class="item item-input-inset">
    <label class="item-input-wrapper">
      <input type="text" placeholder="Mensaje">
    </label>
    <button class="button button-small button-positive"> Enviar </button>
  </div>  


    </form>
  </ion-content>
</ion-view>