<ion-view title="Contacto" id="page3">
  <ion-content padding="true" class="has-header">
    <h1 id="contacto-heading2" style="color:#000000;">Contactenos:</h1>
    <button id="contacto-button7" class="button button-positive  button-block icon ion-android-call"> Llamar a 89-74-64-35</button>
    <button id="contacto-button8" class="button button-positive  button-block icon ion-android-call"> Llamar a 88-88-88-88</button>
    <button id="contacto-button9" class="button button-positive  button-block icon ion-social-whatsapp-outline"> Whastapp</button>
    <button id="contacto-button10" class="button button-positive  button-block icon ion-at"> dev@encke.cr</button>
  </ion-content>
</ion-view>