<ion-view title="Editar" id="page7" style="">
  <ion-content padding="true" class="has-header">
    <form id="editar-form4" class="list">
      <label class="item item-input" id="editar-input4">
        <span class="input-label">Telefono</span>
        <input placeholder="" type="text">
      </label>
      <label class="item item-input" id="editar-input5">
        <span class="input-label">Email</span>
        <input placeholder="" type="text">
      </label>
    </form>
    <div id="editar-container12" class="creator-container"></div>
    <div id="editar-container13" class="creator-container"></div>
    <a ui-sref="tabsController.settings" id="editar-button6" class="button button-positive  button-block">Guardar</a>
  </ion-content>
</ion-view>