<ion-view title="Proyectos" id="page2" style="">
  <ion-content padding="true" class="has-header">
    <ion-list id="proyectos-list1">
      <ion-item class="item-avatar" id="proyectos-list-item2" ui-sref="tabsController2.proyecto1" style="">
        <img src="img/fYzgOu9vSH6YqY907Cl8_c2.png">
        <h2>Proyecto 1</h2>
      </ion-item>
      <ion-item class="item-avatar" id="proyectos-list-item1" style="">
        <img src="img/3iUhrWIGQJWcFsoXAEKa_c1.png">
        <h2>Proyecto 2</h2>
      </ion-item>
      <ion-item class="item-avatar" id="proyectos-list-item3" style="">
        <img src="img/0YH8JAgSRZuJnW5Ewl2Y_c3.png">
        <h2>Proyecto 3</h2>
      </ion-item>
      <ion-item class="item-avatar" id="proyectos-list-item4" style="">
        <img src="img/08iT342XQQOx3uvN6mfj_c4.png">
        <h2>Proyecto 4</h2>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>