<ion-view title="Proyecto 1" id="page6" style="">
  <ion-content padding="true" class="has-header">
    <ion-list id="proyecto1-list3">
      <ion-item class="item-avatar" id="proyecto1-list-item6" style="">
        <img src="img/skI3wPAtQz601FagjFNl_c3.png">
        <h2>Aplicacion Android</h2>
      </ion-item>
      <ion-item class="item-avatar" id="proyecto1-list-item7" style="">
        <img src="img/HiMWM31LQRG8NRAUCXVO_c4.png">
        <h2>Aplicacion IOS</h2>
      </ion-item>
      <ion-item class="item-avatar" id="proyecto1-list-item8" style="">
        <img src="img/dmlnkqNNRXazM8iJhERU_c1.png">
        <h2>Pagina Web</h2>
      </ion-item>
    </ion-list>
    <div id="proyecto1-container14" class="creator-container"></div>
    <div id="proyecto1-markdown8">
      <p style="color:#000000;">Detalles...</p>
    </div>
    <div id="proyecto1-container15" class="creator-container"></div>
    <div id="proyecto1-container16" class="creator-container"></div>
    <a ui-sref="tabsController.proyectos" id="proyecto1-button7" class="button button-positive  button-block">Volver a Proyectos</a>
  </ion-content>
</ion-view>