<ion-view title="Settings" id="page5" style="">
  <ion-content padding="true" class="has-header">
  <div class="list">
		  <div class="item item-input-inset">
    		<label class="item-input-wrapper">
      			<input type="text" placeholder="Nuevo telefono de usuario">
    		</label>
  		</div>
      <div class="item item-input-inset">
        <label class="item-input-wrapper">
            <input type="text" placeholder="Nuevo correo de usuario">
        </label>
      </div>
	</div>
<div>
	<h4 align="center">Idioma</h4>
	<ul class="list">
<li class="item item-checkbox checkbox-positive">
    <b>Espanol</b>
   <label class="checkbox">
   <input type="checkbox">
   </label>
</li>

<li class="item item-checkbox checkbox-assertive">
    <b>Ingles</b>
   <label class="checkbox">
   <input type="checkbox">
   </label>
</li>
</ul>
	<button class="button button-block button-positive">
  		Guardar Cambios
	</button>
  <br>
</div>
<div class="list">

  <div class="item item-divider item-dark" align="center">
    <h2 class="light">Encke Technologies SRL</h2>
  </div>

  <a class="item item-stable">
    Direccion:
    <span class="item-note">
        <strong class="dark">Villas de ayarco, Torre Ayarco tercer piso.</strong>
    </span>
    </a>
  <a class="item item-stable">
    Correo Electronico:
    <span class="item-note">
        <strong class="dark">dev@encke.cr</strong>
    </span>
  </a>
  <a class="item item-stable">
    Telefono:
    <span class="item-note">
        <strong class="dark">8769-98-98</strong>
    </span>
  </a>
  <a class="item item-stable">
    Sitio Web:
    <span class="item-note">
        <strong class="dark">www.rutaya.com</strong>
    </span>
  </a>
</div>
    </ion-content>
</ion-view>