<ion-view title="Configuracion" id="page5" style="">
  <ion-content padding="true" class="has-header">
  <div class="list">
		  <div class="item item-input-inset">
    		<label class="item-input-wrapper">
      			<input type="text" placeholder="Nuevo telefono de usuario">
    		</label>
  		</div>
      <div class="item item-input-inset">
        <label class="item-input-wrapper">
            <input type="text" placeholder="Nuevo correo de usuario">
        </label>
      </div>
	</div>
    <div>
      <div class="list">
      <label class="item item-input item-select">
        <div class="input-label">
          Idioma
        </div>
        <select>
          <option>Ingles</option>
          <option selected>Espanol</option>
        </select>
      </label>
    </div>
	<button class="button button-block button-positive">
  		Guardar Cambios
	</button>
  <br>
</div>
      <div class="list">
        <div class="item item-divider item-dark" align="center">
          <h2 class="light">Encke Technologies SRL</h2>
        </div>  
          <a class="item item-stable">
            Direccion:
              <span class="item-note">
                <b class="dark">Villas de ayarco, Torre Ayarco tercer piso.</b>
              </span>
          </a>
          <a class="item item-stable">
            Correo Electronico:
              <span class="item-note">
                <b class="dark">dev@encke.cr</b>
              </span>
          </a>
          <a class="item item-calm"  href="https://www.rutaya.com">
            <b class="dark">Visitar sitio Web:</b>
              <span class="item-note">
                <b class="dark">www.rutaya.com</b>
              </span>
          </a>
      </div>
    </ion-content>
</ion-view>